@model CuoiKy.Models.NhanVien
@{
    ViewBag.Title = "detailsnv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Nhân Viên</h2>
<h2>@Model.HotenNV</h2>
<h2>@Model.NgaySinh</h2>
<h2>@Model.Gioitinh</h2>
<h2>@Model.CMND</h2>
<h2>@Model.SDT</h2>
<h2>@Model.Matkhau</h2>