@model CuoiKy.Models.NhanVien
@{
    ViewBag.Title = "editnv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh Sửa Thông Tin</h2>
@using (Html.BeginForm("editnv", "NhanVien"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.HotenNV)
        @Html.TextBoxFor(a => a.HotenNV, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.NgaySinh)
        @Html.TextBoxFor(a => a.NgaySinh, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Gioitinh)
        @Html.TextBoxFor(a => a.Gioitinh, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.CMND)
        @Html.TextBoxFor(a => a.CMND, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.SDT)
        @Html.TextBoxFor(a => a.SDT, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Matkhau)
        @Html.TextBoxFor(a => a.Matkhau, new { @class = "form-control" })
    </div>
    <div>
        @Html.HiddenFor(a => a.Id) <!-- lấy id ngầm -->
        <button type="submit">Cập nhật</button>
    </div>
}
