@model CuoiKy.Models.KhachHang
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color: #F8EFFF;">
<h2>Chỉnh Sửa Thông Tin</h2>
@using (Html.BeginForm("editkh", "khachhang"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Hoten)
        @Html.TextBoxFor(a => a.Hoten, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Hoten, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.NgaySinh)
        @Html.TextBoxFor(a => a.NgaySinh, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.NgaySinh, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Gioitinh)
        @Html.TextBoxFor(a => a.Gioitinh, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Gioitinh, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.CMND)
        @Html.TextBoxFor(a => a.CMND, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.CMND, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.SDT)
        @Html.TextBoxFor(a => a.SDT, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.SDT, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(a => a.Id) <!-- lấy id -->
        <button type="submit">Cập nhật</button>
    </div>
}
</body>
